<a href="https://colab.research.google.com/github/k3itch/30_Days_of_JS/blob/main/Excercise_3rd_Week_(Cloud_Computing).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas Assignment

---


Submitted by: Ashish Khurana

---


ROll No: 102065030

In [2]:
#1. Load the dataset "daily_weather.csv" into a dataframe
import pandas as pd
df = pd.read_csv("daily_weather.csv")

In [5]:
#2. Print the datatypes of all columns of the dataframe
print(df.dtypes)

number                      int64
air_pressure_9am          float64
air_temp_9am              float64
avg_wind_direction_9am    float64
avg_wind_speed_9am        float64
max_wind_direction_9am    float64
max_wind_speed_9am        float64
rain_accumulation_9am     float64
rain_duration_9am         float64
relative_humidity_9am     float64
relative_humidity_3pm     float64
dtype: object

In [6]:
#3. Print the statistics of the dataframe
print(df.describe())

            number  air_pressure_9am  air_temp_9am  avg_wind_direction_9am  \
count  1095.000000       1092.000000   1090.000000             1091.000000
mean    547.000000        918.882551     64.933001              142.235511
std     316.243577          3.184161     11.175514               69.137859
min       0.000000        907.990000     36.752000               15.500000
25%     273.500000        916.550000     57.281000               65.972506
50%     547.000000        918.921045     65.715479              166.000000
75%     820.500000        921.160073     73.450974              191.000000
max    1094.000000        929.320000     98.906000              343.400000

       avg_wind_speed_9am  max_wind_direction_9am  max_wind_speed_9am  \
count         1092.000000             1092.000000         1091.000000
mean             5.508284              148.953518            7.019514
std              4.552813               67.238013            5.598209
min              0.693451               28.900000            1.185578
25%              2.248768               76.553003            3.067477
50%              3.871333              177.300000            4.943637
75%              7.337163              201.233153            8.947760
max             23.554978              312.200000           29.840780

       rain_accumulation_9am  rain_duration_9am  relative_humidity_9am  \
count            1089.000000        1092.000000            1095.000000
mean                0.203079         294.108052              34.241402
std                 1.593952        1598.078779              25.472067
min                 0.000000           0.000000               6.090000
25%                 0.000000           0.000000              15.092243
50%                 0.000000           0.000000              23.179259
75%                 0.000000           0.000000              45.400000
max                24.020000       17704.000000              92.620000

       relative_humidity_3pm
count            1095.000000
mean               35.344727
std                22.524079
min                 5.300000
25%                17.395000
50%                24.380000
75%                52.060000
max                92.250000

In [7]:
#4. Print the first three rows of the dataframe
print(df.head(3))

   number  air_pressure_9am  air_temp_9am  avg_wind_direction_9am  \
0       0        918.060000     74.822000              271.100000
1       1        917.347688     71.403843              101.935179
2       2        923.040000     60.638000               51.000000

   avg_wind_speed_9am  max_wind_direction_9am  max_wind_speed_9am  \
0            2.080354              295.400000            2.863283
1            2.443009              140.471548            3.533324
2           17.067852               63.700000           22.100967

   rain_accumulation_9am  rain_duration_9am  relative_humidity_9am  \
0                    0.0                0.0              42.420000
1                    0.0                0.0              24.328697
2                    0.0               20.0               8.900000

   relative_humidity_3pm
0              36.160000
1              19.426597
2              14.460000

In [8]:
#5. Print the last three rows of the dataframe
print(df.tail(3))

      number  air_pressure_9am  air_temp_9am  avg_wind_direction_9am  \
1092    1092            916.60        71.096                   189.3
1093    1093            912.60        58.406                   172.7
1094    1094            921.53        77.702                    97.1

      avg_wind_speed_9am  max_wind_direction_9am  max_wind_speed_9am  \
1092            3.064608                   200.8            3.892276
1093            3.825167                   189.1            4.764682
1094            3.265932                   125.9            4.451511

      rain_accumulation_9am  rain_duration_9am  relative_humidity_9am  \
1092                    0.0                0.0                  45.59
1093                    0.0                0.0                  64.84
1094                    0.0                0.0                  14.56

      relative_humidity_3pm
1092                  52.31
1093                  58.28
1094                  15.10

In [9]:
#6. Print any 6 randomly picked rows
print(df.sample(6))

      number  air_pressure_9am  air_temp_9am  avg_wind_direction_9am  \
798      798        918.130000     49.316000              308.100000
1073    1073        917.920000     84.650000               30.000000
735      735        913.490000     65.390000              172.300000
671      671        921.370000     60.980000               42.500000
133      133        919.610000     70.250000              119.400000
393      393        921.643675     68.894385              194.797576

      avg_wind_speed_9am  max_wind_direction_9am  max_wind_speed_9am  \
798            10.200446              184.400000           13.086099
1073            4.831790               40.100000            5.838413
735             2.639589              187.500000            3.444888
671            21.541732               53.600000           25.635332
133             3.400149              162.600000            5.077854
393             3.373302              216.379358            4.520630

      rain_accumulation_9am  rain_duration_9am  relative_humidity_9am  \
798                    0.04              200.0              88.480000
1073                   0.00                0.0              16.220000
735                    0.00                0.0              51.060000
671                    0.01               50.0              11.980000
133                    0.00                0.0              19.640000
393                    0.00                0.0              17.985613

      relative_humidity_3pm
798               81.400000
1073              27.450000
735               56.050000
671               10.230000
133               16.030000
393               17.524581

In [10]:
#7. Print all column names
print(df.columns)

Index(['number', 'air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [11]:
#8. Are there any missing values in the dataframe? (Use the Info function)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   number                  1095 non-null   int64
 1   air_pressure_9am        1092 non-null   float64
 2   air_temp_9am            1090 non-null   float64
 3   avg_wind_direction_9am  1091 non-null   float64
 4   avg_wind_speed_9am      1092 non-null   float64
 5   max_wind_direction_9am  1092 non-null   float64
 6   max_wind_speed_9am      1091 non-null   float64
 7   rain_accumulation_9am   1089 non-null   float64
 8   rain_duration_9am       1092 non-null   float64
 9   relative_humidity_9am   1095 non-null   float64
 10  relative_humidity_3pm   1095 non-null   float64
dtypes: float64(10), int64(1)
memory usage: 94.2 KB

In [16]:
#9. Sort the data by the index in ascending order
df = df.sort_index(axis=0,ascending = True)

In [13]:
#10. Sort the dataframe according to the column "air_temp_9am" in descending order
df = df.sort_values(by = 'air_temp_9am', ascending = False)

In [14]:
#11.  Print the rows where "air_pressure_9am">918
df[df["air_pressure_9am"] > 918]

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
30,30,919.350000,91.112,96.400000,2.527742,96.300000,3.377779,0.00,0.0,25.620000,35.690000
872,872,918.200000,89.204,225.500000,1.185578,265.000000,1.767183,0.00,0.0,26.570000,29.360000
739,739,919.100000,87.602,275.700000,2.102724,133.600000,3.265932,0.00,0.0,14.570000,39.360000
907,907,918.600000,87.440,40.900000,3.400149,53.500000,4.406772,0.00,0.0,12.110000,12.520000
311,311,919.490000,85.550,95.800000,3.176455,51.200000,4.048861,0.00,0.0,16.080000,21.390000
...,...,...,...,...,...,...,...,...,...,...,...
77,77,921.610000,38.138,46.600000,4.518619,59.600000,5.525242,0.00,0.0,29.800000,16.400000
636,636,919.480000,36.752,311.400000,3.511996,133.900000,5.234440,0.27,310.0,41.760000,50.700000
840,840,918.043767,NaN,181.774042,0.964376,185.618601,1.570007,0.00,0.0,11.911222,18.154358
861,861,919.065408,NaN,172.303728,2.639600,193.058141,3.326949,0.00,0.0,12.497839,13.438518
1031,1031,922.669195,NaN,47.946284,7.969686,65.770066,10.262337,0.00,0.0,18.920805,19.641841